<%- include('../includes/head.ejs') %>
</head>
<body>
   <%- include('../includes/nav.ejs') %>
   <form action="register" method="post">
      <input type="text" name="name" value="Kalle">
      <input type="email" name="email" value="Kalle@gmail.com">
      <input type="password" name="password" value="kalle">
      <button type="submit">Registrera</button>
   </form>
   <%- include('../includes/end.ejs') %>
